<!--
<ul class="nav nav-pills">
    <li>@Html.ActionLink("Домой", "Index", "Home")</li>
    <li class="active">  @Html.ActionLink("Каталог", "List", "Product")</li>
    <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
</ul>
  -->


<!--
Измените разметку для генерирования ссылок меню:
    -->

@model IEnumerable<_603211_PROKHORENKO.Models.MenuItem>

<ul class="nav nav-pills">
    @foreach (var item in Model)
    {
        <li class="@item.Active">
            @Html.ActionLink(item.Name, item.Action, item.Controller)
        </li>
    }
</ul>
