@using _603211_PROKHORENKO.DAL.Entities
@model _603211_PROKHORENKO.Models.Cart

@{
    ViewBag.Title = "Index";
}


<h2>Ваша корзина</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Всего калорий</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GetItems())
    {
        <tr>
            <td>@item.Dish.DishName</td>
            <td>@item.Quantity</td>
            <td>@(item.Dish.Calories*item.Quantity)</td>
        </tr>
    }
    </tbody>
</table>

@*мои правки*@
@section SidePanel
{
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="@Url.Action("Index", "Home")">Домой</a></li>
        <li><a href="@Url.Action("List", "Dish")">Меню</a></li>
        <li><a href="@Url.Action("Index", "Admin")">Администрирование</a></li>
        <li><a href="@Url.Action("Index", "Cart")">Корзина</a></li>
        
    </ul>
}

@*МОИ ПРАВКИ*@
@*<a href="@TempData["returnUrl"]" class="btn btn-default">Вернуться к меню</a>*@
@*<a href="@Url.Action("List", "Dish")" class="btn btn-default">Вернуться к меню</a>*@
 
            @if (@TempData["returnUrl"] != null)
            { 
        <a href="@TempData["returnUrl"]" class="btn btn-default">Вернуться к меню</a>
            }
@if (@TempData["returnUrl"] == null)
{ 
        <a href="@Url.Action("List", "Dish")" class="btn btn-default">Вернуться к меню</a>
}






