
@{
    ViewBag.Title = "Index";
    
}


<!--Основная панель-->
<div class="col-md-9">
    <h2>Список</h2>
    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol> 
    <hr />

    <h2>Форма</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
    {

        //мои правки
@section SidePanel
{
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="@Url.Action("Index", "Home")">Домой</a></li>
        <li><a href="@Url.Action("List", "Dish")">Меню</a></li>
        <li><a href="@Url.Action("Index", "Admin")">Администрирование</a></li>
        <li><a href="@Url.Action("Index", "Cart")">Корзина</a></li>
        
    </ul>
}

                <div class="col-md-8 col-md-offset-3">
                    @Html.DropDownList("Colors")
                </div>

                <div class="row form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label>
                            @Html.CheckBox("cBox1")Чек-бокс 1
                        </label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label>
                            @Html.CheckBox("cBox2")Чек-бокс 2
                        </label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label>@Html.RadioButton("rButton", 1, true) Радио-1</label>
                        <label>@Html.RadioButton("rButton", 2, false) Радио-2</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLogin" class="col-md-2 control-label">Логин:</label>
                    <div class="col-md-8">
                        @Html.TextBox("login", null, new
           {
               @class = "form-control",
               placeholder = "Введите логин"
           })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-md-2 control-label">Пароль:</label>
                    <div class="col-md-8">
                        @Html.Password("login", null, new
           {
               @class = "form-control",
               placeholder = "Введите логин"
           })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Отправить</button>
                    </div>
                </div>
                }
</div><!--/Основная панель (конец)-->




@*@section SidePanel
{
    <ul class="nav nav-pills nav-stacked">
    <li><a href="#">Все категории</a></li>
    <li class="active"><a href="#">Кино</a></li>
    <li><a href="#">Книги</a></li>
    <li><a href="#">Инструмент</a></li>
</ul>
}*@